{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала агат_моховой</h1>
<img src="{% static "media/images/vitraj/агат_моховой.jpg"%}"class="bw" width="250" height="250" alt="агат_моховой">
<h2>Химическая формула</h2>
<h3>SiO2</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>твердость минерала минимальная 6.5   </h3>
<h3>твердость минерала максимальная 7.0   </h3>
<h3>плотность минимальная 2580.0 кг/м3 </h3>
<h3>плотность максимальная 2620.0 кг/м3 </h3>
<h2>Интерфейс</h2>
<h3>Класс - оксиды</h3>
</body>
{% endblock %}
