{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала адуляр</h1>
<img src="{% static "media/images/vitraj/адуляр.jpg"%}"class="bw" width="250" height="250" alt="адуляр">
<h2>Химическая формула</h2>
<h3>Or90Ab9An1</h3>
<h2>Химические свойства</h2>
<h3>  BaO от 1.0 % </h3>
<h3>  CaO от 0.5 % </h3>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>короткопризматические ромбоэдровидные</p>
<h3>применение </h3>
<p>керамическое производство</p>
<p>стекольное производство</p>
<h3>твердость минерала минимальная 6.0   </h3>
<h3>твердость минерала максимальная 6.5   </h3>
<h3>плотность минимальная 2560.0 кг/м3 </h3>
<h3>плотность максимальная 2580.0 кг/м3 </h3>
<h2>Интерфейс</h2>
<h3>Группа - алюмосиликаты_со_слоями_иного_типа</h3>
<h3>Класс - силикаты</h3>
</body>
{% endblock %}
