{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала алмаз</h1>
<img src="{% static "media/images/vitraj/алмаз.jpg"%}"class="bw" width="250" height="250" alt="алмаз">
<h2>Химическая формула</h2>
<h3>C</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>азот N </p>
<p>кремний Si </p>
<p>алюминий Al </p>
<p>магний Mg </p>
<p>кальций Ca </p>
<p>натрий Na </p>
<p>барий Ba </p>
<p>марганец Mn </p>
<p>железо Fe </p>
<p>хром Cr </p>
<p>титан Ti </p>
<p>бор B </p>
<p>водород H </p>
<p>кислород O </p>
<p>аргон Ar </p>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>формы октаэдра</p>
<p>формы ромбододекаэдра</p>
<p>формы куба</p>
<p>формы тетраэдра</p>
<h3>цвет </h3>
<p>бесцветный</p>
<p>едва заметный цветовой оттенок</p>
<p>желтый</p>
<p>коричневый</p>
<p>розовато-лиловый</p>
<p>зеленый</p>
<p>голубой</p>
<p>синий</p>
<p>молочно-белый</p>
<p>серый</p>
<p>черный</p>
<h3>показатель преломления 2.417   </h3>
<h3>эффект дисперсии 0.063   </h3>
<h3>твердость минерала 10.0   </h3>
<h3>плотность минимальная 3500.0 кг/м3 </h3>
<h3>плотность максимальная 3515.0 кг/м3 </h3>
<h3>электропроводность </h3>
<p>диэлектрик</p>
<h2>Интерфейс</h2>
<h3>Группа - неметаллы</h3>
</body>
{% endblock %}
