{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала алунит</h1>
<img src="{% static "media/images/vitraj/алунит.jpg"%}"class="bw" width="250" height="250" alt="алунит">
<h2>Химическая формула</h2>
<h3>K2Al3[SO4]2(OH)6</h3>
<h2>Химические свойства</h2>
<h3>  K2O от 10.0 % </h3>
<h3>  SO3 от 40.0 % </h3>
<h3>Примесь:</h3>
<p>натрий Na </p>
<p>  Fe3+ </p>
<p>цинк Zn </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>тригональная</p>
<h3>кристаллическая структура </h3>
<p>слоистая</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>белый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>плотность 2700.0 кг/м3 </h3>
<h3>гигроскопичность </h3>
<p>негигроскопичен</p>
<h3>генезис </h3>
<p>известковые скарны</p>
<h2>Интерфейс</h2>
<h3>Группа - безводные_сульфаты_с_дополнительными_анионами</h3>
</body>
{% endblock %}
