{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала альмандин</h1>
<img src="{% static "media/images/vitraj/альмандин.jpg"%}"class="bw" width="250" height="250" alt="альмандин">
<h2>Химическая формула</h2>
<h3>Fe3Al2[SiO4]3</h3>
<h2>Химические свойства</h2>
<h3>  CaO от 2.0 % </h3>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>коричневый</p>
<h3>твердость минерала 7.0   </h3>
<h3>плотность минимальная 3800.0 кг/м3 </h3>
<h3>плотность максимальная 4300.0 кг/м3 </h3>
<h3>генезис </h3>
<p>эффузивы среднего и кислого состава</p>
<p>ультракислые граниты</p>
<p>гранитные пегматиты</p>
<p>кристаллические сланцы и гнейсы</p>
<p>элювиальные россыпи</p>
<p>аллювиальные россыпи</p>
<p>прибрежно-морские россыпи</p>
<h3>ценность </h3>
<p>драгоценный камень четвертого порядка</p>
<h2>Интерфейс</h2>
<h3>Группа - субкаркасные_ортосиликаты</h3>
</body>
{% endblock %}
