{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала аллофан</h1>
<img src="{% static "media/images/vitraj/аллофан.jpg"%}"class="bw" width="250" height="250" alt="аллофан">
<h2>Химическая формула</h2>
<h3>mAl2O3*nSiO2*pH2O</h3>
<h2>Химические свойства</h2>
<h3>  Fe2O3 до 0.8 % </h3>
<h3>Примесь:</h3>
<p>  MgO </p>
<p>  CaO </p>
<p>  K2O </p>
<p>  Na2O </p>
<p>  CuO </p>
<p>  ZnO </p>
<p>  SO3 </p>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>аморфный</p>
<h3>цвет </h3>
<p>прозрачный</p>
<p>белый</p>
<h3>твердость минерала 3.0   </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>плотность минимальная 1850.0 кг/м3 </h3>
<h3>плотность максимальная 1890.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гипергенный</p>
<p>коры выветривания</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_со_слоями_из_амфиболовых_лент_SiO4_тетраэдров</h3>
</body>
{% endblock %}
