{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала амфиболит</h1>
<img src="{% static "media/images/vitraj/амфиболит.jpg"%}"class="bw" width="250" height="250" alt="амфиболит">
<h2>Химическая формула</h2>
<h3>R7(OH)2[Si4O11]2^6-</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>в каких породах встречается </h3>
<p>амфиболиты</p>
<h3>применение </h3>
<p>утеплитель</p>
<h3>плотность минимальная 2900.0 кг/м3 </h3>
<h3>плотность максимальная 3150.0 кг/м3 </h3>
<h3>текстура </h3>
<p>массивная</p>
<p>сланцеватая</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
