{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала аметист</h1>
<img src="{% static "media/images/vitraj/аметист.jpg"%}"class="bw" width="250" height="250" alt="аметист">
<h2>Химическая формула</h2>
<h3>SiO2</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>синий</p>
<h3>строение </h3>
<p>призматические кристаллы</p>
<p>многоглавые кристаллы</p>
<p>сростки блочного строения</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>ценность </h3>
<p>драгоценный камень четвертого порядка</p>
<h3>твердость минерала 7.0   </h3>
<h3>плотность минимальная 2630.0 кг/м3 </h3>
<h3>плотность максимальная 2650.0 кг/м3 </h3>
<h2>Интерфейс</h2>
<h3>Класс - оксиды</h3>
</body>
{% endblock %}
