{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала антимонит</h1>
<img src="{% static "media/images/vitraj/антимонит.jpg"%}"class="bw" width="250" height="250" alt="антимонит">
<h2>Химическая формула</h2>
<h3>Sb2S3</h3>
<h2>Химические свойства</h2>
<h3>сурьма Sb от 71.9 % </h3>
<h3>сера S от 72.7 % </h3>
<h3>Примесь:</h3>
<p>мышьяк As </p>
<p>ртуть Hg </p>
<p>серебро Ag </p>
<p>золото Au </p>
<p>свинец Pb </p>
<p>висмут Bi </p>
<p>железо Fe </p>
<p>медь Cu </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>ромбическая</p>
<h3>кристаллическая структура </h3>
<p>цепочечно-слоистая</p>
<h3>строение </h3>
<p>призматические игольчатые кристаллы</p>
<p>веерообразные сростки</p>
<p>спутанно-волокнистые и зернистые агрегаты</p>
<h3>текстура </h3>
<p>штриховка вдоль граней</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>твердость минерала минимальная 2.0   </h3>
<h3>твердость минерала максимальная 2.5   </h3>
<h3>плотность минимальная 4500.0 кг/м3 </h3>
<h3>плотность максимальная 4600.0 кг/м3 </h3>
<h3>оптические свойства </h3>
<p>сильное двуотражение</p>
<p>анизотропия</p>
<h3>температура плавления 546.0 °С </h3>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>применение </h3>
<p>сырье для кремний-алюминиевого сплава (силумина)</p>
<h2>Интерфейс</h2>
<h3>Группа - низшие_сульфиды_с_цепочечной_структурой</h3>
</body>
{% endblock %}
