{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала андалузит</h1>
<img src="{% static "media/images/vitraj/андалузит.jpg"%}"class="bw" width="250" height="250" alt="андалузит">
<h2>Химическая формула</h2>
<h3>Al4[SiO2]O</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>  Fe3+ </p>
<p>титан Ti </p>
<p>магний Mg </p>
<p>  Fe2+ </p>
<p>кальций Ca </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>ромбическая</p>
<h3>строение </h3>
<p>призматические кристаллы</p>
<h3>цвет </h3>
<p>коричневый</p>
<p>прозрачный</p>
<h3>твердость минерала минимальная 6.5   </h3>
<h3>твердость минерала максимальная 7.0   </h3>
<h3>плотность минимальная 3100.0 кг/м3 </h3>
<h3>плотность максимальная 3200.0 кг/м3 </h3>
<h3>спайность </h3>
<p>совершенная</p>
<h3>в каких породах встречается </h3>
<p>зоны метаморфизма низких давлений и высокого температурного градиента</p>
<h3>генезис </h3>
<p>региональный метаморфизм</p>
<h3>в каких породах встречается </h3>
<p>контактово-метаморфизованные глинистые породы</p>
<h3>генезис </h3>
<p>субвулканические условия</p>
<h3>применение </h3>
<p>сырье высокоогнеупорное и кислотоупорное</p>
<h3>цвет </h3>
<p>прозрачный</p>
<h2>Интерфейс</h2>
<h3>Группа - субслоистые_ортосиликаты</h3>
</body>
{% endblock %}
