{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала анортозит</h1>
<img src="{% static "media/images/vitraj/анортозит.jpg"%}"class="bw" width="250" height="250" alt="анортозит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>плотность минимальная 2740.0 кг/м3 </h3>
<h3>плотность максимальная 2760.0 кг/м3 </h3>
<h3>твердость минерала минимальная 6.0   </h3>
<h3>твердость минерала максимальная 6.5   </h3>
<h2>Интерфейс</h2>
<h3>Отдел - минералы_с_каркасной_структурой</h3>
</body>
{% endblock %}
