{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала апатит</h1>
<img src="{% static "media/images/vitraj/апатит.jpg"%}"class="bw" width="250" height="250" alt="апатит">
<h2>Химическая формула</h2>
<h3>Ca5[PO4]3(Fe,Cl,OH)2</h3>
<h2>Химические свойства</h2>
<h3>  MnO от 7.6 % </h3>
<h3>радиоактивные элементы   от 23.7 % </h3>
<h3>  MgO от 0.5 % </h3>
<h3>железо Fe до 4.6 % </h3>
<h3>  Al2O3 от 1.5 % </h3>
<h3>редкие земли Tr до 12.0 % </h3>
<h3>торий Th до 0.6 % </h3>
<h3>  CO2 до 4.5 % </h3>
<h3>  SiO2 до 2.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>гексагональная</p>
<h3>цвет </h3>
<p>сине-зеленый</p>
<h3>твердость минерала 5.0   </h3>
<h3>плотность 2950.0 кг/м3 </h3>
<h2>Интерфейс</h2>
<h3>Группа - субцепочечные_фосфаты_и_их_аналоги</h3>
</body>
{% endblock %}
