{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала барит</h1>
<img src="{% static "media/images/vitraj/барит.jpg"%}"class="bw" width="250" height="250" alt="барит">
<h2>Химическая формула</h2>
<h3>BaSO4</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>кальций Ca </p>
<h3>свинец Pb до 22.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>ромбическая</p>
<h3>цвет </h3>
<p>бесцветный</p>
<p>прозрачный</p>
<h3>плотность минимальная 4300.0 кг/м3 </h3>
<h3>плотность максимальная 4500.0 кг/м3 </h3>
<h3>твердость минерала минимальная 3.0   </h3>
<h3>твердость минерала максимальная 3.5   </h3>
<h3>строение </h3>
<p>конкреции</p>
<h3>применение </h3>
<p>текстильная промышленность</p>
<p>очистка воды</p>
<h2>Интерфейс</h2>
<h3>Группа - безводные_сульфаты_без_дополнительных_анионов</h3>
</body>
{% endblock %}
