{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала бадделеит</h1>
<img src="{% static "media/images/vitraj/бадделеит.jpg"%}"class="bw" width="250" height="250" alt="бадделеит">
<h2>Химическая формула</h2>
<h3>ZrO2</h3>
<h2>Химические свойства</h2>
<h3>  Fe3+/Al фе'рум триплю'с калюми'нию 98.5   </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>кристаллическая структура </h3>
<p>координационная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>текстура </h3>
<p>продольная штриховка</p>
<h3>цвет </h3>
<p>коричневый</p>
<p>темно-бурый</p>
<p>желтовато-бурый</p>
<h3>текстура </h3>
<p>пятнистая</p>
<p>зональная</p>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>твердость минерала 6.0   </h3>
<h3>плотность минимальная 5300.0 кг/м3 </h3>
<h3>плотность максимальная 5500.0 кг/м3 </h3>
<h3>генезис </h3>
<p>магнетит-пироксеновые породы</p>
<p>магнетит-форстерит-апатитовые породы</p>
<p>карбонатиты</p>
<p>габброиды</p>
<p>скарновый тип</p>
<p>гидротермальные жилы</p>
<p>вулканические выбросы</p>
<h3>применение </h3>
<p>ценное минеральное сырье</p>
<h2>Интерфейс</h2>
<h3>Класс - оксиды</h3>
</body>
{% endblock %}
