{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала биотит</h1>
<img src="{% static "media/images/vitraj/биотит.jpg"%}"class="bw" width="250" height="250" alt="биотит">
<h2>Химическая формула</h2>
<h3>KFe3(OH,F)2[AlSi3O10]KMg3(OH,F2)[AlSi3O12]</h3>
<h2>Химические свойства</h2>
<h3>  MnO до 18.0 % </h3>
<h3>  TiO2 до 12.0 % </h3>
<h3>  NiO до 4.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>черный</p>
<h3>твердость минерала минимальная 2.5   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 2700.0 кг/м3 </h3>
<h3>плотность максимальная 3300.0 кг/м3 </h3>
<h3>генезис </h3>
<p>магматический</p>
<p>метаморфический</p>
<p>пегматиты</p>
<h3>применение </h3>
<p>определение абсолютного возраста аргоновым и стронциевым методом</p>
<h2>Интерфейс</h2>
<h3>Класс - силикаты</h3>
</body>
{% endblock %}
