{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала блеклая_руда</h1>
<img src="{% static "media/images/vitraj/блеклая_руда.jpg"%}"class="bw" width="250" height="250" alt="блеклая_руда">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>цинк Zn </p>
<p>железо Fe </p>
<p>серебро Ag </p>
<p>ртуть Hg </p>
<p>никель Ni </p>
<p>селен Se </p>
<p>медь Cu </p>
<p>теллур Te </p>
<p>сурьма Sb </p>
<p>мышьяк As </p>
<p>сера S </p>
<h2>Физические свойства</h2>
<h2>Интерфейс</h2>
</body>
{% endblock %}
