{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала браунит</h1>
<img src="{% static "media/images/vitraj/браунит.jpg"%}"class="bw" width="250" height="250" alt="браунит">
<h2>Химическая формула</h2>
<h3>Mn2+,Mn6^3+,SiO12</h3>
<h2>Химические свойства</h2>
<h3>железо Fe до 18.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>тетрагональная</p>
<h3>облик кристаллов </h3>
<p>бипирамидальные псевдооктаэдрического облика</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>черный</p>
<p>черный с буроватым оттенком</p>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала минимальная 6.0   </h3>
<h3>твердость минерала максимальная 6.5   </h3>
<h3>плотность минимальная 4700.0 кг/м3 </h3>
<h3>плотность максимальная 4900.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>в каких породах встречается </h3>
<p>оксидные руды марганца</p>
<p>слабометаморфизованные осадочные месторождения</p>
<p>слабометаморфизованные вулконогенно-осадочные месторождения</p>
<h2>Интерфейс</h2>
<h3>Подкласс - сложные_оксиды</h3>
</body>
{% endblock %}
