{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала бронзит</h1>
<img src="{% static "media/images/vitraj/бронзит.jpg"%}"class="bw" width="250" height="250" alt="бронзит">
<h2>Химическая формула</h2>
<h3>(Mg,Fe)2[Si2O6]</h3>
<h2>Химические свойства</h2>
<h3>  FeO до 0.2 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>ромбическая</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>бурый</p>
<h3>твердость минерала минимальная 5.0   </h3>
<h3>твердость минерала максимальная 6.0   </h3>
<h3>плотность 3300.0 кг/м3 </h3>
<h3>генезис </h3>
<p>магматический</p>
<p>метаморфический</p>
<p>основные и ультроосновные эффузивы</p>
<h2>Интерфейс</h2>
<h3>Группа - цепочечные_силикаты</h3>
</body>
{% endblock %}
