{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала вермикулит</h1>
<img src="{% static "media/images/vitraj/вермикулит.jpg"%}"class="bw" width="250" height="250" alt="вермикулит">
<h2>Химическая формула</h2>
<h3>Mg0,3-0,5(H2O)3-5(Mg1,8-2,5Fe0,1-0,2^2+Fe0,1-0,8^2+Al0,1-0,5)2,8-3,0[(Si,Al)4O10]</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>  MgO </p>
<h3>  MgO до 25.0 % </h3>
<p>  FeO </p>
<h3>  FeO до 1.0 % </h3>
<h3>  FeO ферумо' 3.0 % </h3>
<p>  Fe2O3 </p>
<h3>  Fe2O3 до 3.0 % </h3>
<h3>  Fe2O3 ферумдва' отри' 17.0 % </h3>
<p>  Al2O3 </p>
<h3>  Al2O3 до 10.0 % </h3>
<h3>  Al2O3 алюминийдва' отри'  17.0 % </h3>
<p>  SiO2 </p>
<h3>  SiO2 до 34.0 % </h3>
<h3>  SiO2 сили'циум одва' 42.0 % </h3>
<p>вода H2O </p>
<h3>вода H2O до 8.0 % </h3>
<h3>вода H2O вода' 15.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>коричневый</p>
<h3>твердость минерала минимальная 1.0   </h3>
<h3>твердость минерала максимальная 1.5   </h3>
<h3>плотность минимальная 2400.0 кг/м3 </h3>
<h3>плотность максимальная 2700.0 кг/м3 </h3>
<h3>плотность при нагревании 20.0 кг/м3 </h3>
<h3>плотность минимальная при нагревании 30.0 кг/м3 </h3>
<h3>генезис </h3>
<p>коры выветривания</p>
<h3>применение </h3>
<p>оптическое сырье</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_со_слоями_из_амфиболовых_лент_SiO4_и_AlO4_тетраэдров</h3>
</body>
{% endblock %}
