{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала вивианит</h1>
<img src="{% static "media/images/vitraj/вивианит.jpg"%}"class="bw" width="250" height="250" alt="вивианит">
<h2>Химическая формула</h2>
<h3>Fe3[PO4]2*8H2O</h3>
<h2>Химические свойства</h2>
<h3>  FeO от 43.0 % </h3>
<h3>  P2O5 от 28.0 % </h3>
<h3>Примесь:</h3>
<p>марганец Mn </p>
<p>магний Mg </p>
<p>кальций Ca </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>голубой</p>
<h3>строение </h3>
<p>мелкие призматические кристаллы</p>
<p>почковидные скопления</p>
<p>землистые массы</p>
<h3>цвет </h3>
<p>желтый</p>
<p>бурый</p>
<p>красный</p>
<h3>твердость минерала минимальная 1.5   </h3>
<h3>твердость минерала максимальная 2.0   </h3>
<h3>плотность 2700.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гипергенный</p>
<p>исходные смолы преимущественно хвойных деревьев в процессе фоссилизации подвергались окислению и полимеризации</p>
<h3>цвет </h3>
<p>синий</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_со_слоями_из_амфиболовых_лент_SiO4_и_AlO4_тетраэдров</h3>
</body>
{% endblock %}
