{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала вюртцит</h1>
<img src="{% static "media/images/vitraj/вюртцит.jpg"%}"class="bw" width="250" height="250" alt="вюртцит">
<h2>Химическая формула</h2>
<h3>ZnS</h3>
<h2>Химические свойства</h2>
<h3>цинк Zn от 63.0 % </h3>
<h3>железо Fe от 1.0 % </h3>
<h3>кадмий Cd от 3.7 % </h3>
<h3>Примесь:</h3>
<p>германий Ge </p>
<p>марганец Mn </p>
<p>свинец Pb </p>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>зеленый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>прозрачность </h3>
<p>просвечивает</p>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность 4000.0 кг/м3 </h3>
<h2>Интерфейс</h2>
<h3>Подгруппа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
