{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала галенит</h1>
<img src="{% static "media/images/vitraj/галенит.jpg"%}"class="bw" width="250" height="250" alt="галенит">
<h2>Химическая формула</h2>
<h3>PbS</h3>
<h2>Химические свойства</h2>
<h3>свинец Pb от 86.6 % </h3>
<h3>Примесь:</h3>
<p>селен Se </p>
<p>серебро Ag </p>
<p>бром Br </p>
<p>сурьма Sb </p>
<p>олово Sn </p>
<p>цинк Zn </p>
<p>железо Fe </p>
<p>кадмий Cd </p>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>друзы</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала минимальная 2.0   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>плотность минимальная 7400.0 кг/м3 </h3>
<h3>плотность максимальная 7600.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гидротермальный</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
