{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала галит</h1>
<img src="{% static "media/images/vitraj/галит.jpg"%}"class="bw" width="250" height="250" alt="галит">
<h2>Химическая формула</h2>
<h3>NaCl</h3>
<h2>Химические свойства</h2>
<h3>хлор Cl от 61.3 % </h3>
<h3>Примесь:</h3>
<p>бром Br </p>
<p>марганец Mn </p>
<p>медь Cu </p>
<p>галлий Ga </p>
<p>мышьяк As </p>
<p>йод I </p>
<p>серебро Ag </p>
<p>барий Ba </p>
<p>таллий Tl </p>
<p>свинец Pb </p>
<p>калий K </p>
<p>кальций Ca </p>
<p>  SO3 </p>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>кубические</p>
<p>октаэдрические</p>
<h3>строение </h3>
<p>восковидные агрегаты</p>
<h3>цвет </h3>
<p>белый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>спайность </h3>
<p>совершенная по кубу</p>
<h3>твердость минерала 2.0   </h3>
<h3>плотность 2173.0 кг/м3 </h3>
<h3>температура плавления 772.0 °С </h3>
<h3>применение </h3>
<p>текстильная промышленность</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
