{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала гранит</h1>
<img src="{% static "media/images/vitraj/гранит.jpg"%}"class="bw" width="250" height="250" alt="гранит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>серый</p>
<h3>размер </h3>
<p>крупный</p>
<h3>породообразующий минерал </h3>
<p>граниты</p>
<h3>строение </h3>
<p>зерна</p>
<h3>кристаллическая структура </h3>
<p>типа апатита</p>
<h3>микроструктура </h3>
<p>порфировидная</p>
<h3>текстура </h3>
<p>гнейсовидная</p>
<p>вкрапленник</p>
<h3>микроструктура </h3>
<p>порфировая</p>
<h3>текстура </h3>
<p>вкрапленники кварца</p>
<h3>микроструктура </h3>
<p>гранофировая</p>
<h3>текстура </h3>
<p>трахитоидная</p>
<p>вкрапленники полевых шпатов</p>
<h3>микроструктура </h3>
<p>ксеноморфная</p>
<p>трахитоидная</p>
<p>афанитовая</p>
<p>микрогранитовая</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
