{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала гранодиорит</h1>
<img src="{% static "media/images/vitraj/гранодиорит.jpg"%}"class="bw" width="250" height="250" alt="гранодиорит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>серый</p>
<h3>строение </h3>
<p>кристаллы</p>
<h3>микроструктура </h3>
<p>гиалопилитовая</p>
<p>аллотриоморфнозернистая</p>
<p>порфировидная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
