{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала гроссуляр</h1>
<img src="{% static "media/images/vitraj/гроссуляр.jpg"%}"class="bw" width="250" height="250" alt="гроссуляр">
<h2>Химическая формула</h2>
<h3>Ca3Al2[SiO4]3</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>твердость минерала минимальная 3500.0   </h3>
<h3>твердость минерала максимальная 3700.0   </h3>
<h3>облик кристаллов </h3>
<p>изометричные</p>
<h3>цвет </h3>
<p>бесцветный</p>
<h3>ценность </h3>
<p>драгоценный камень четвертого порядка</p>
<h3>цвет </h3>
<p>зеленый</p>
<h2>Интерфейс</h2>
<h3>Группа - субкаркасные_ортосиликаты</h3>
</body>
{% endblock %}
