{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала доломит</h1>
<img src="{% static "media/images/vitraj/доломит.jpg"%}"class="bw" width="250" height="250" alt="доломит">
<h2>Химическая формула</h2>
<h3>CaMg(CO3)2</h3>
<h2>Химические свойства</h2>
<h3>  MgO от 21.8 % </h3>
<h3>  CO2 от 47.8 % </h3>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>островная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>белый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность 2850.0 кг/м3 </h3>
<h3>генезис </h3>
<p>колчеданные месторождения</p>
<h3>объемная масса минимальная 2000.0 кг/м3 </h3>
<h3>объемная масса максимальная 2800.0 кг/м3 </h3>
<h3>пористость минимальная </h3>
<p>пористость минимальная</p>
<h3>прочность 20.0 Па </h3>
<h2>Интерфейс</h2>
<h3>Группа - безводные_карбонаты_без_дополнительных_анионов</h3>
</body>
{% endblock %}
