{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала ильменорутил</h1>
<img src="{% static "media/images/vitraj/ильменорутил.jpg"%}"class="bw" width="250" height="250" alt="ильменорутил">
<h2>Химическая формула</h2>
<h3>(Ti,Nb,Fe3+)3O6</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>додекаэдры</p>
<h3>плотность минимальная 4350.0 кг/м3 </h3>
<h3>плотность максимальная 5590.0 кг/м3 </h3>
<h3>в каких породах встречается </h3>
<p>кварцевые грейзены</p>
<p>молибден-кварцевые жилы</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
