{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала карнотит</h1>
<img src="{% static "media/images/vitraj/карнотит.jpg"%}"class="bw" width="250" height="250" alt="карнотит">
<h2>Химическая формула</h2>
<h3>K2(UO2)2[V2O8]*3H2O</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>кальций Ca </p>
<p>барий Ba </p>
<p>магний Mg </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>кристаллическая структура </h3>
<p>субслоистая</p>
<h3>цвет </h3>
<p>желтый</p>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала 2.0   </h3>
<h3>плотность 5000.0 кг/м3 </h3>
<h3>в каких породах встречается </h3>
<p>ванадиевые руды</p>
<p>урановые руды</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
