{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала кварц</h1>
<img src="{% static "media/images/vitraj/кварц.jpg"%}"class="bw" width="250" height="250" alt="кварц">
<h2>Химическая формула</h2>
<h3>SiO2</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>в каких породах встречается </h3>
<p>широко распространен в литосфере</p>
<h3>строение </h3>
<p>призматические кристаллы</p>
<h3>твердость минерала 7.0   </h3>
<h3>плотность 2650.0 кг/м3 </h3>
<h3>спайность </h3>
<p>несовершенная по ромбоэдру</p>
<h3>генезис </h3>
<p>магматический</p>
<p>гидротермальный</p>
<h3>применение </h3>
<p>оптическое сырье</p>
<p>поделочный камень</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
