{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала кианит</h1>
<img src="{% static "media/images/vitraj/кианит.jpg"%}"class="bw" width="250" height="250" alt="кианит">
<h2>Химическая формула</h2>
<h3>Ab2[SiO4]O</h3>
<h2>Химические свойства</h2>
<h3>  Fe3+ до 1.0 % </h3>
<h3>хром Cr от 2.6 % </h3>
<h3>Примесь:</h3>
<p>ванадий V </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>триклинная</p>
<h3>строение </h3>
<p>радиально-лучистые агрегаты</p>
<h3>цвет </h3>
<p>белый до голубого</p>
<h3>твердость минерала минимальная 5.5   </h3>
<h3>твердость минерала максимальная 7.0   </h3>
<h3>плотность 3500.0 кг/м3 </h3>
<h2>Интерфейс</h2>
</body>
{% endblock %}
