{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала колеманит</h1>
<img src="{% static "media/images/vitraj/колеманит.jpg"%}"class="bw" width="250" height="250" alt="колеманит">
<h2>Химическая формула</h2>
<h3>Ca[B2BO4(OH)3]H2O</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>облик кристаллов </h3>
<p>сростки и друзы короткостолбчатых или уплощенных кристаллов</p>
<h3>цвет </h3>
<p>бесцветный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала 4.0   </h3>
<h3>плотность 2400.0 кг/м3 </h3>
<h3>спайность </h3>
<p>совершенная по (0 1 0) и средняя по (0 0 1)</p>
<h3>цвет </h3>
<p>белый</p>
<p>бурый</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
