{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала корунд</h1>
<img src="{% static "media/images/vitraj/корунд.jpg"%}"class="bw" width="250" height="250" alt="корунд">
<h2>Химическая формула</h2>
<h3>Al2O3</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>генезис </h3>
<p>метасоматический</p>
<h3>строение </h3>
<p>плотные массы</p>
<h3>цвет </h3>
<p>прозрачный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала 9.0   </h3>
<h3>плотность 4000.0 кг/м3 </h3>
<h3>цвет </h3>
<p>прозрачный</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
