{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала крокоит</h1>
<img src="{% static "media/images/vitraj/крокоит.jpg"%}"class="bw" width="250" height="250" alt="крокоит">
<h2>Химическая формула</h2>
<h3>Pb[CrO4]</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>островная</p>
<h3>строение </h3>
<p>призматические кристаллы</p>
<h3>цвет </h3>
<p>охристо-желтый</p>
<h3>спайность </h3>
<p>совершенная в одном направлении</p>
<h3>твердость минерала минимальная 2.5   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 5600.0 кг/м3 </h3>
<h3>плотность максимальная 6100.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
