{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала криолит</h1>
<img src="{% static "media/images/vitraj/криолит.jpg"%}"class="bw" width="250" height="250" alt="криолит">
<h2>Химическая формула</h2>
<h3>Na3[AlF6]</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>кремний Si </p>
<p>железо Fe </p>
<p>магний Mg </p>
<p>калий K </p>
<p>стронций Sr </p>
<p>торий Th </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>бесцветный</p>
<p>прозрачный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала 2.0   </h3>
<h3>плотность 2967.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>отдельность </h3>
<p>отчетливая</p>
<h3>цвет </h3>
<p>бесцветный</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
