{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала кремень</h1>
<img src="{% static "media/images/vitraj/кремень.jpg"%}"class="bw" width="250" height="250" alt="кремень">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>конкреции</p>
<h3>твердость минерала 7.0   </h3>
<h3>излом </h3>
<p>раковистый</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
