{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала кубанит</h1>
<img src="{% static "media/images/vitraj/кубанит.jpg"%}"class="bw" width="250" height="250" alt="кубанит">
<h2>Химическая формула</h2>
<h3>CuFe2S3</h3>
<h2>Химические свойства</h2>
<h3>сера S от 35.0 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>ромбическая</p>
<h3>строение </h3>
<p>тонкие пластинчатые микроскопические вростки в халькопирите</p>
<h3>цвет </h3>
<p>желтый</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>магнитные свойства </h3>
<p>сильно магнитный</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность минимальная 4030.0 кг/м3 </h3>
<h3>плотность максимальная 4180.0 кг/м3 </h3>
<h2>Интерфейс</h2>
</body>
{% endblock %}
