{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала куприт</h1>
<img src="{% static "media/images/vitraj/куприт.jpg"%}"class="bw" width="250" height="250" alt="куприт">
<h2>Химическая формула</h2>
<h3>Cu2O</h3>
<h2>Химические свойства</h2>
<h3>медь Cu от 89.0 % </h3>
<h3>Примесь:</h3>
<p>цинк Zn </p>
<p>свинец Pb </p>
<p>железо Fe </p>
<p>кадмий Cd </p>
<p>олово Sn </p>
<p>висмут Bi </p>
<p>германий Ge </p>
<p>индий In </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>кубическая</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>красный различных оттенков</p>
<h3>излом </h3>
<p>раковистый</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность 6140.0 кг/м3 </h3>
<h2>Интерфейс</h2>
</body>
{% endblock %}
