{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала лампрофиллит</h1>
<img src="{% static "media/images/vitraj/лампрофиллит.jpg"%}"class="bw" width="250" height="250" alt="лампрофиллит">
<h2>Химическая формула</h2>
<h3>Sr{Na3Ti3[Si2O7]2(O,OH,F)}</h3>
<h2>Химические свойства</h2>
<h3>  BaO от 17.2 % </h3>
<h3>Примесь:</h3>
<p>марганец Mn </p>
<p>железо Fe </p>
<p>кальций Ca </p>
<p>магний Mg </p>
<p>калий K </p>
<p>алюминий Al </p>
<p>ниобий Nb </p>
<h3>  Fe3+/Al фе'рум триплю'с калюми'нию 13.6   </h3>
<p>натрий Na </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>строение </h3>
<p>двойники</p>
<h3>цвет </h3>
<p>коричневый</p>
<h3>твердость минерала минимальная 2.0   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 3400.0 кг/м3 </h3>
<h3>плотность максимальная 3500.0 кг/м3 </h3>
<h3>спайность </h3>
<p>совершенная</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>в каких породах встречается </h3>
<p>щелочные породы</p>
<h3>генезис </h3>
<p>лампрофиры</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
