{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала молибденит</h1>
<img src="{% static "media/images/vitraj/молибденит.jpg"%}"class="bw" width="250" height="250" alt="молибденит">
<h2>Химическая формула</h2>
<h3>MoS2</h3>
<h2>Химические свойства</h2>
<h3>молибден Mo от 60.0 % </h3>
<h3>сера S от 40.0 % </h3>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>фарфоровидные агрегаты</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>цвет </h3>
<p>свинцово-серый </p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала минимальная 1.0   </h3>
<h3>твердость минерала максимальная 1.5   </h3>
<h3>плотность минимальная 4600.0 кг/м3 </h3>
<h3>плотность максимальная 5000.0 кг/м3 </h3>
<h2>Интерфейс</h2>
</body>
{% endblock %}
