{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала олигоклаз</h1>
<img src="{% static "media/images/vitraj/олигоклаз.jpg"%}"class="bw" width="250" height="250" alt="олигоклаз">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>кристаллы редки</p>
<h3>генезис </h3>
<p>магматический</p>
<h3>породообразующий минерал </h3>
<p>граниты</p>
<p>габбро</p>
<h3>строение </h3>
<p>бобовины</p>
<h3>сингония </h3>
<p>триклинная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
