{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала повеллит</h1>
<img src="{% static "media/images/vitraj/повеллит.jpg"%}"class="bw" width="250" height="250" alt="повеллит">
<h2>Химическая формула</h2>
<h3>Ca[MoO4]</h3>
<h2>Химические свойства</h2>
<h3>вольфрам W от 10.0 % </h3>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>белый</p>
<h3>строение </h3>
<p>фарфоровидные агрегаты</p>
<h3>твердость минерала 3.0   </h3>
<h3>плотность минимальная 4250.0 кг/м3 </h3>
<h3>плотность максимальная 4520.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гидротермальный</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
