{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала поллуцит</h1>
<img src="{% static "media/images/vitraj/поллуцит.jpg"%}"class="bw" width="250" height="250" alt="поллуцит">
<h2>Химическая формула</h2>
<h3>Cs1-x[AlSi2O6]*Nax(H2O)x</h3>
<h2>Химические свойства</h2>
<h3>вода H2O до 3.3 % </h3>
<h3>  K2O ка'лий двао' 1.6 % </h3>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>бесцветный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала 6.0   </h3>
<h3>плотность минимальная 2700.0 кг/м3 </h3>
<h3>плотность максимальная 3000.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>сингония </h3>
<p>кубическая</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
