{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала реальгар</h1>
<img src="{% static "media/images/vitraj/реальгар.jpg"%}"class="bw" width="250" height="250" alt="реальгар">
<h2>Химическая формула</h2>
<h3>As4S4</h3>
<h2>Химические свойства</h2>
<h3>мышьяк As от 70.1 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<p>призматические кристаллы</p>
<h3>цвет </h3>
<p>желтый</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала минимальная 1.5   </h3>
<h3>твердость минерала максимальная 2.0   </h3>
<h3>плотность 3600.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>очень хрупкий</p>
<h3>генезис </h3>
<p>отлагается в местах выходов термальных источников</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
