{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала риолит</h1>
<img src="{% static "media/images/vitraj/риолит.jpg"%}"class="bw" width="250" height="250" alt="риолит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>молекулярная</p>
<p>типа апатита</p>
<h3>применение </h3>
<p>утеплитель</p>
<h3>текстура </h3>
<p>массивная</p>
<h3>микроструктура </h3>
<p>аллотриоморфнозернистая</p>
<p>порфировидная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
