{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала рубин</h1>
<img src="{% static "media/images/vitraj/рубин.jpg"%}"class="bw" width="250" height="250" alt="рубин">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h3>хром Cr до 4.0 % </h3>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>пурпурный</p>
<h3>облик кристаллов </h3>
<p>короткостолбчатые</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
