{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала сердолик</h1>
<img src="{% static "media/images/vitraj/сердолик.jpg"%}"class="bw" width="250" height="250" alt="сердолик">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>оранжево-красный</p>
<h3>генезис </h3>
<p>коры выветривания</p>
<h3>применение </h3>
<p>поделочный камень</p>
<h2>Интерфейс</h2>
<h3>Семейство - минералы_с_каркасной_структурой</h3>
<h3>Класс - оксиды</h3>
</body>
{% endblock %}
