{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала сильвин</h1>
<img src="{% static "media/images/vitraj/сильвин.jpg"%}"class="bw" width="250" height="250" alt="сильвин">
<h2>Химическая формула</h2>
<h3>KCl</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>кубическая</p>
<h3>кристаллическая структура </h3>
<p>координационная</p>
<h3>строение </h3>
<p>друзы</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>спайность </h3>
<p>совершенная по (1 0 0)</p>
<h3>твердость минерала 2.0   </h3>
<h3>плотность 2000.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>вкус </h3>
<p>горько-соленый</p>
<h3>поведение в воде </h3>
<p>легко растворим</p>
<h3>гигроскопичность </h3>
<p>сильно гигроскопичен</p>
<h3>генезис </h3>
<p>условия аридного климата</p>
<h3>в каких породах встречается </h3>
<p>соленосные осадочные толщи</p>
<h3>генезис </h3>
<p>сульфатный галогенез в морских солеродных бассейнах</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
