{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала сидерит</h1>
<img src="{% static "media/images/vitraj/сидерит.jpg"%}"class="bw" width="250" height="250" alt="сидерит">
<h2>Химическая формула</h2>
<h3>FeCO3</h3>
<h2>Химические свойства</h2>
<h3>  CaO от 12.0 % </h3>
<h3>кобальт Co до 9.0 % </h3>
<h3>цинк Zn от 7.7 % </h3>
<h3>Примесь:</h3>
<p>цинк Zn </p>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>тригональная</p>
<h3>облик кристаллов </h3>
<p>остропирамидальные</p>
<h3>строение </h3>
<p>конкреции</p>
<h3>цвет </h3>
<p>белый</p>
<p>желтый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>цвет </h3>
<p>розоватый</p>
<h3>спайность </h3>
<p>совершенная</p>
<h3>твердость минерала 4.0   </h3>
<h3>плотность 3960.0 кг/м3 </h3>
<h3>генезис </h3>
<p>колчеданные месторождения</p>
<h2>Интерфейс</h2>
<h3>Класс - карбонаты</h3>
</body>
{% endblock %}
