{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала сфалерит</h1>
<img src="{% static "media/images/vitraj/сфалерит.jpg"%}"class="bw" width="250" height="250" alt="сфалерит">
<h2>Химическая формула</h2>
<h3>ZnS</h3>
<h2>Химические свойства</h2>
<h3>железо Fe до 26.0 % </h3>
<h3>индий In до 2.5 % </h3>
<h3>олово Sn до 2.0 % </h3>
<h3>ртуть Hg до 35.0 % </h3>
<h3>таллий Tl до 1.0 % </h3>
<h3>медь Cu до 15.0 % </h3>
<h3>Примесь:</h3>
<p>кобальт Co </p>
<p>кальций Ca </p>
<p>серебро Ag </p>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>кубооктаэдрические</p>
<p>ромбододекаэдрические</p>
<p>тетраэдрические</p>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>цвет </h3>
<p>коричневый</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность минимальная 3900.0 кг/м3 </h3>
<h3>плотность максимальная 4100.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>спайность </h3>
<p>совершенная по ромбододекаэдру</p>
<h3>магнитные свойства </h3>
<p>парамагнитный</p>
<p>диамагнитный</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>сингония </h3>
<p>кубическая</p>
<h2>Интерфейс</h2>
<h3>Подгруппа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
