{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала трахит</h1>
<img src="{% static "media/images/vitraj/трахит.jpg"%}"class="bw" width="250" height="250" alt="трахит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>серый</p>
<h3>генезис </h3>
<p>вулканические туфы</p>
<h3>микроструктура </h3>
<p>трахитовая</p>
<p>ортофировая</p>
<h3>текстура </h3>
<p>пористая</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
