{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала турмалин</h1>
<img src="{% static "media/images/vitraj/турмалин.jpg"%}"class="bw" width="250" height="250" alt="турмалин">
<h2>Химическая формула</h2>
<h3>XY3Z6((Si6Ol8)(BO3)3(OH,F,XNa,Ca</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>радиально-лучистые агрегаты</p>
<h3>цвет </h3>
<p>бесцветный</p>
<p>прозрачный</p>
<p>зеленый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>шелковистый</p>
<h3>твердость минерала 7.0   </h3>
<h3>плотность минимальная 3250.0 кг/м3 </h3>
<h3>плотность максимальная 3340.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_с_кольцевой_структурой</h3>
</body>
{% endblock %}
