{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала фенакит</h1>
<img src="{% static "media/images/vitraj/фенакит.jpg"%}"class="bw" width="250" height="250" alt="фенакит">
<h2>Химическая формула</h2>
<h3>Be2[SiO4]</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>бесцветный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала минимальная 7.5   </h3>
<h3>твердость минерала максимальная 8.0   </h3>
<h3>плотность минимальная 2950.0 кг/м3 </h3>
<h3>плотность максимальная 3000.0 кг/м3 </h3>
<h3>сингония </h3>
<p>тригональная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
