{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала флогопит</h1>
<img src="{% static "media/images/vitraj/флогопит.jpg"%}"class="bw" width="250" height="250" alt="флогопит">
<h2>Химическая формула</h2>
<h3>KMg3[AlSi3O10](OH,F)2</h3>
<h2>Химические свойства</h2>
<h3>  P2O5 до 1.2 % </h3>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>короткопризматические</p>
<h3>цвет </h3>
<p>коричневый</p>
<h3>плотность минимальная 2800.0 кг/м3 </h3>
<h3>плотность максимальная 3000.0 кг/м3 </h3>
<h3>генезис </h3>
<p>магматический</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
