{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала халькозин</h1>
<img src="{% static "media/images/vitraj/халькозин.jpg"%}"class="bw" width="250" height="250" alt="халькозин">
<h2>Химическая формула</h2>
<h3>Cu2S</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>строение </h3>
<p>зернистые агрегаты</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>излом </h3>
<p>раковистый</p>
<h3>твердость минерала минимальная 2.5   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 5500.0 кг/м3 </h3>
<h3>плотность максимальная 5800.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гипергенный</p>
<h3>применение </h3>
<p>главный рудный минерал меди</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
