{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала халькопирит</h1>
<img src="{% static "media/images/vitraj/халькопирит.jpg"%}"class="bw" width="250" height="250" alt="халькопирит">
<h2>Химическая формула</h2>
<h3>Cu2S</h3>
<h2>Химические свойства</h2>
<h3>медь Cu от 79.8 % </h3>
<h3>серебро Ag до 0.2 % </h3>
<h2>Физические свойства</h2>
<h3>сингония </h3>
<p>тетрагональная</p>
<h3>строение </h3>
<p>сплошные массы</p>
<p>вкрапленники</p>
<h3>цвет </h3>
<p>желтый</p>
<h3>блеск </h3>
<p>металлический</p>
<h3>твердость минерала минимальная 3.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность минимальная 4100.0 кг/м3 </h3>
<h3>плотность максимальная 4300.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>излом </h3>
<p>раковистый</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h2>Интерфейс</h2>
<h3>Группа - минералы_с_координационной_структурой</h3>
</body>
{% endblock %}
