{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала хризопраз</h1>
<img src="{% static "media/images/vitraj/хризопраз.jpg"%}"class="bw" width="250" height="250" alt="хризопраз">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h3>  Fe2+ до 8.0 % </h3>
<h2>Физические свойства</h2>
<h3>цвет </h3>
<p>зеленый</p>
<h3>механические примеси и включения </h3>
<p>серпентин</p>
<p>тонкочешуйчатый тальк</p>
<h3>ценность </h3>
<p>ювелирный камень четвертого порядка</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
