{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала циннвальдит</h1>
<img src="{% static "media/images/vitraj/циннвальдит.jpg"%}"class="bw" width="250" height="250" alt="циннвальдит">
<h2>Химическая формула</h2>
<h3>K[Fe1,5-0,5Li0,5-1,5(Al,Fe)]*[Si3,5-2,5Al0,5-1,5O10](OH,F)2</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<p>моноклинная</p>
<h3>облик кристаллов </h3>
<p>таблитчатые</p>
<h3>цвет </h3>
<p>серый</p>
<h3>твердость минерала минимальная 2.5   </h3>
<h3>твердость минерала максимальная 4.0   </h3>
<h3>плотность минимальная 2900.0 кг/м3 </h3>
<h3>плотность максимальная 3000.0 кг/м3 </h3>
<h2>Интерфейс</h2>
</body>
{% endblock %}
