{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала циркон</h1>
<img src="{% static "media/images/vitraj/циркон.jpg"%}"class="bw" width="250" height="250" alt="циркон">
<h2>Химическая формула</h2>
<h3>Zr[SiO4]</h3>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>кальций Ca </p>
<p>марганец Mn </p>
<p>магний Mg </p>
<p>олово Sn </p>
<p>ниобий Nb </p>
<h2>Физические свойства</h2>
<h3>облик кристаллов </h3>
<p>короткопризматические</p>
<h3>цвет </h3>
<p>коричневый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>излом </h3>
<p>раковистый</p>
<h3>твердость минерала 7.0   </h3>
<h3>плотность минимальная 4000.0 кг/м3 </h3>
<h3>плотность максимальная 4700.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>генезис </h3>
<p>магматический</p>
<p>россыпи</p>
<h3>применение </h3>
<p>керамическое производство</p>
<h3>сингония </h3>
<p>тетрагональная</p>
<h2>Интерфейс</h2>
<h3>Группа - субцепочечные_минералы</h3>
</body>
{% endblock %}
