{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала чароит</h1>
<img src="{% static "media/images/vitraj/чароит.jpg"%}"class="bw" width="250" height="250" alt="чароит">
<h2>Химическая формула</h2>
<h2>Химические свойства</h2>
<h3>Примесь:</h3>
<p>вода H2O </p>
<h2>Физические свойства</h2>
<h3>твердость минерала 5.0   </h3>
<h3>плотность минимальная 2530.0 кг/м3 </h3>
<h3>плотность максимальная 2580.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гидротермальный</p>
<h3>сингония </h3>
<p>моноклинная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
