{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала шамозит</h1>
<img src="{% static "media/images/vitraj/шамозит.jpg"%}"class="bw" width="250" height="250" alt="шамозит">
<h2>Химическая формула</h2>
<h3>(Fe,Fe3+,Mg,Al)6[(Al,Si)4O10]*(OH,O)8</h3>
<h2>Химические свойства</h2>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>слоистая</p>
<h3>сингония </h3>
<p>моноклинная</p>
<h3>строение </h3>
<p>тонкочешуйчатые агрегаты</p>
<h3>цвет </h3>
<p>черный</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<h3>цвет </h3>
<p>серо-зеленый </p>
<h3>твердость минерала минимальная 2.5   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 3000.0 кг/м3 </h3>
<h3>плотность максимальная 3400.0 кг/м3 </h3>
<h3>хрупкость </h3>
<p>хрупкий</p>
<h3>генезис </h3>
<p>гидротермальный</p>
<h2>Интерфейс</h2>
<h3>Семейство - минералы_со_слоями_из_амфиболовых_лент_SiO4_тетраэдров</h3>
</body>
{% endblock %}
