{% extends 'vitraj/base.html' %}
{% block title %}
Домой
{% endblock %}
{% block content %}
{% load static %}
<body>
<br />
<br />
<h1>Свойства минерала ярозит</h1>
<img src="{% static "media/images/vitraj/ярозит.jpg"%}"class="bw" width="250" height="250" alt="ярозит">
<h2>Химическая формула</h2>
<h3>KFe3[SO4]2(OH)6</h3>
<h2>Химические свойства</h2>
<h3>натрий Na до 2.0 % </h3>
<h3>алюминий Al до 19.0 % </h3>
<h3>свинец Pb от 3.0 % </h3>
<h3>селен Se до 0.5 % </h3>
<h2>Физические свойства</h2>
<h3>кристаллическая структура </h3>
<p>островная</p>
<h3>строение </h3>
<p>конкреции</p>
<h3>цвет </h3>
<p>охристо-желтый</p>
<h3>цвет черты </h3>
<p>желтый</p>
<h3>блеск </h3>
<p>стеклянный</p>
<p>перламутровый</p>
<p>шелковистый</p>
<h3>твердость минерала минимальная 3.0   </h3>
<h3>твердость минерала максимальная 3.0   </h3>
<h3>плотность минимальная 2900.0 кг/м3 </h3>
<h3>плотность максимальная 3250.0 кг/м3 </h3>
<h3>генезис </h3>
<p>гипергенный</p>
<h3>сингония </h3>
<p>тригональная</p>
<h2>Интерфейс</h2>
</body>
{% endblock %}
